.form {
  padding-top: 76px;
  max-width: 800px;
  margin: 0 auto;
}
.leftSide {
  width: 50%;
  height: 100%;
  padding: 35px 28px 35px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightSide {
  width: 50%;
  padding: 35px 33px 35px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
