.form {
  padding-top: 76px;
  max-width: 800px;
  margin: 0 auto;
}
.leftSide {
  width: 50%;
  height: 100%;
  padding: 40px 35px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightSide {
  width: 50%;
  padding: 40px 30px 40px 35px;
}
