.listHeader {
  position: relative;
}
.page {
  display: flex;
  page-break-after: always;
  width: 100%;
}
.bigTitle {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4px;
}
.time {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.printBtn {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.litany {
  div + div {
    margin-top: 4px;
  }
  svg {
    margin-right: 2px;
  }
  .pastor {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .person {
    font-size: 12px;
    font-weight: 700;
  }
  .all {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
}
