.listHeader {
  position: relative;
}
.page {
  display: flex;
  page-break-after: always;
  width: 100%;
  height: 100%;
}
.bigTitle {
  font-family: "Noto Serif KR" !important;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.time {
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;
  .bigTitle {
    padding-left: 50px;
  }
}
.printBtn {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.litany {
  font-size: 13px;
  div {
    line-height: 18px;
  }
  div + div {
    margin-top: 8px;
  }
  &.toMuch {
    div + div {
      margin-top: 5px;
    }
  }
  svg {
    margin-right: 2px;
    flex-shrink: 0;
  }
  .pastor {
    text-decoration: underline;
    text-underline-offset: 3px;
    display: flex;
    align-items: flex-start;
    svg {
      flex-shrink: 0;
      margin-top: 1px;
    }
  }
  .person {
    font-weight: 700;
    padding-left: 12px;
  }
  .all {
    text-decoration: underline;
    text-underline-offset: 3px;
    display: flex;
    align-items: flex-start;
    font-weight: 700;
  }
}
.infoText {
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  svg {
    margin-right: 2px;
  }
}

.backRightSide {
  .infoText {
    margin-top: 0;
    margin-bottom: 14px;
  }
  .time {
    margin-bottom: 7px;
  }
}

.contentBoxWrap {
  .contentBoxRow {
    display: flex;
    border: 1px solid #6a6a6a;
    &:first-of-type {
      border-bottom: 0;
    }
  }
  .contentBox {
    width: 50%;
    height: 100%;
    padding: 25px 10px;
    .bigTitle {
      margin-bottom: 10px;
    }
    &:first-child {
      border-right: 1px solid #6a6a6a;
    }
  }
  .nextWeek {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bigTitle {
      margin-bottom: 5px;
    }
    .desc {
      font-size: 14px;
      text-align: center;
      margin-bottom: 18px;
      font-family: "Noto Serif KR" !important;
    }
    .nextWeekLabel {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      svg {
        margin-right: 2px;
      }
    }
    .nextWeekList + .nextWeekList {
      margin-top: 4px;
    }
    .specialSong {
      div:last-child {
        min-width: 93px;
        max-width: 93px;
        flex-shrink: unset;
        text-align-last: unset;
        word-break: break-word;
        white-space: break-spaces;
      }
    }
  }
}

.dawnWorship {
  font-size: 12px;
  margin-top: 14px;
  p {
    display: flex;
    align-items: center;
    line-height: 17px;
    svg {
      flex-shrink: 0;
      margin-right: 2px;
    }
  }
  p + p {
    margin-top: 3px;
  }
}

.notice {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    span {
      margin: 0 4px;
    }
  }
  .desc {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .noticeLIst {
    li {
      display: flex;
      gap: 3px;
      font-size: 13px;
    }
    li + li {
      margin-top: 4px;
    }
  }
  .bibleWord {
    font-size: 13px;
    text-align: center;
    p + p {
      margin-top: 14px;
    }
  }
  .worshipTime {
    border: 1px solid #000;
    margin-top: 18px;
    .worshipTimeTitle {
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
    }
    div {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      padding: 3px 14px;
      font-size: 13px;
    }
    p {
      width: 100%;
      text-align-last: justify;
    }
    div + div {
      border-top: 1px solid #000;
    }
  }
}

.frontRightSide {
  padding-top: 54px;
  padding-bottom: 54px;
  .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }
  .churchName {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    span {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 800;
    }
    p {
      font-family: "Noto Serif KR" !important;
      font-size: 56px;
      font-weight: 800;
      letter-spacing: 10px;
    }
  }

  .event {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: "Noto Serif KR" !important;
  }

  .slogan {
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
  }
  .goal {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 40px;
    padding-right: 40px;
    p {
      display: flex;
      align-items: center;
    }
    p + p {
      margin-top: 8px;
    }
  }
  .memberInfo {
    font-size: 15px;
    p + p {
      margin-top: 4px;
    }
  }
}

.sacrament {
  padding-left: 66px;
  margin-top: 0px !important;
  height: 16px !important;
  div {
    font-size: 12px !important;
  }
}
