.basicInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .alertText {
    font-size: 13px;
    color: red;
  }
}
.inputWrap {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  gap: 8px;
  label {
    font-size: 16px;
    line-height: 26px;
    word-break: keep-all;
    margin: 3px 8px 0;
    min-width: 92px;
    max-width: 137px;
  }
  input {
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
  }
}
