.inputWrap {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  gap: 8px;
  label {
    font-size: 16px;
    min-width: 92px;
    max-width: 92px;
    line-height: 1.25;
    word-break: keep-all;
    margin: 3px 8px 0;
  }
  input {
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    max-width: 100px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
  }
  .colon {
    padding: 0 5px;
    font-size: 18px;
    font-weight: 700;
  }
}
.bibleInputs {
  display: flex;
  align-items: center;
}
.unvisible {
  display: none;
}
