.inputWrap {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  gap: 4px;
  label {
    font-size: 16px;
    min-width: 92px;
    max-width: 92px;
    line-height: 1.25;
    word-break: keep-all;
    margin: 3px 8px 0;
  }
  input {
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    max-width: 100px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
  }
  input:read-only {
    width: 0;
    padding: 0;
    border: 0;
    font-size: 0;
  }
  .colon {
    padding: 0 5px;
    font-size: 18px;
    font-weight: 700;
  }
}
.bibleInputsWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .bibleInputs {
    display: flex;
    align-items: center;
    &.unVisible {
      display: none;
    }
  }
  .secondVisibleBtn {
    padding: 10px;
    background-color: #292929;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    flex-shrink: 0;
    margin-left: 8px;
  }
}
