.eventButton {
  padding: 10px;
  background-color: #b1b1b1;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  &.current {
    background-color: #162dff;
  }
  & + .eventButton {
    margin-left: 8px;
  }
}
