.inputWrap {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  gap: 8px;

  label {
    font-size: 16px;
    min-width: 92px;
    max-width: 92px;
    line-height: 1.25;
    word-break: keep-all;
    margin: 3px 8px 0;
  }
  input {
    border-radius: 6px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    min-width: 340px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
  }
  .selectBox {
    font-size: 16px;
    min-width: 140px;
    border-radius: 8px;
    border: 1px solid #b3b3b3;
    padding: 10px;
  }
  .resetBtn {
    padding: 10px;
    background-color: #292929;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
  }
}
