.listContainer {
  padding: 20px 0 30px;
}
.listTitle {
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  svg {
    margin-right: 4px;
    vertical-align: bottom;
  }
}
.submitBtnWrap {
  text-align: center;
  margin: 80px 0 100px;
}
.submitBtn {
  width: 190px;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  padding: 16px 10px;
  font-size: 18px;
  font-weight: 700;
}
.editBtn {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  margin-right: 9px;
}
